.flex-container {
    display: flex;
    flex-direction: row;
}

.info-type {
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
}

.przyciski {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    button {
        align-self: center;
        margin-bottom: 16px;
        width: 250px;
    }
}

h2 {
    text-align: center;
}
