<h2>Informacje ogólne</h2>
<div class="informacje">
    <div class="wydzial flex-container">
        <span class="info-type">Wydział:</span>
        <span>Mechatroniki</span>
    </div>
    <div class="instytut flex-container">
        <span class="info-type">Instytut:</span>
        <span></span>
    </div>
    <div class="opiekun flex-container">
        <span class="info-type">Opiekun:</span>
        <span></span>
    </div>
    <div class="wyposazenie flex-container">
        <span class="info-type">Wyposażenie:</span>
        <span></span>
    </div>
    <div class="usterki flex-container">
        <span class="info-type">Usterki:</span>
        <span></span>
    </div>
</div>
<h2>Akcje</h2>
<div class="przyciski">
    <button mat-raised-button>Zgłoś usterkę</button>
    <button mat-raised-button>Dodaj dostęp użytkownikowi</button>
</div>
