table { 
    margin-top: 16px;
    width: 500px;
    th {
        text-align: start;
        margin-left: 16px;
        margin-right: 16px;
    }
    .first {
        padding-left: 24px;
    }
}

.przycisk {
    display: flex;
    flex-direction: column;
    button {
        margin-top: 16px;
        max-width: 250px;
    }
}