<form [formGroup]="wyszukiwanieForm">
    <h2>Szukaj sali po wybranych parametrach</h2>
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Wydział</mat-label>
            <mat-select formControlName="wydzial">
                <mat-option *ngFor="let wydzialy of wydzialyy" [value]="wydzialy.value">
                    {{ wydzialy.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Typ sali</mat-label>
            <mat-select formControlName="typSali">
                <mat-option *ngFor="let typ of typy" [value]="typ.value">
                    {{ typ.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Minimalna pojemność</mat-label>
            <input matInput formControlName="pojemnosc" type="number" placeholder="" value="" />
        </mat-form-field>
    </section>
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Numer sali</mat-label>
            <input matInput formControlName="numerSali" autocomplete="off" name="numer-sali" />
        </mat-form-field>
    </section>
    <section>
        <div id="data">
            <mat-form-field class="dzien" appearance="fill">
                <mat-label>Dzień rezerwacji</mat-label>
                <input matInput formControlName="data" [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div id="odData">
            <mat-form-field class="godzina" appearance="fill">
                <mat-label>Godzina od</mat-label>
                <mat-select formControlName="godzinaOd">
                    <mat-option *ngFor="let liczby of zbior" [value]="liczby.value">
                        {{ liczby.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div id="doData">
            <mat-form-field class="godzina" appearance="fill">
                <mat-label>Godzina do</mat-label>
                <mat-select formControlName="godzinaDo">
                    <mat-option *ngFor="let liczby of zbior" [value]="liczby.value">
                        {{ liczby.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <section id="checkBoxy">
        <h3>Wymagane wyposażenie</h3>
        <mat-checkbox formControlName="rzutnik" class="checkBoxRzutnik">Rzutnik</mat-checkbox>
        <mat-checkbox formControlName="klimatyzacja" class="checkBoxKlimatyzacjian">Klimatyzacjia</mat-checkbox>
        <mat-checkbox formControlName="komputer" class="checkBoxKomputer">Komputer</mat-checkbox>
        <mat-checkbox formControlName="tablica" class="checkBoxTablica">Tablica</mat-checkbox>
    </section>
    <button class="buttonWyszukaj" mat-raised-button (click)="wyszukajSale()">Wyszukaj</button>
</form>