<form [formGroup]="wyszukiwanieForm">
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Wydział</mat-label>
            <mat-select formControlName="wydzial">
                <mat-option *ngFor="let wydzialy of wydzialyy" [value]="wydzialy.value">
                    {{ wydzialy.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Typ sali</mat-label>
            <mat-select formControlName="typSali">
                <mat-option *ngFor="let typ of typy" [value]="typ.value">
                    {{ typ.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <h2>Pojemoność</h2>
    <section>
        <div id="od">
            <p>Od</p>
            <mat-form-field class="comboboxLiczba" appearance="fill">
                <mat-label>Liczba</mat-label>
                <input matInput formControlName="pojemnosc" type="number" placeholder="" value="" />
            </mat-form-field>
        </div>
    </section>
    <h2>Nr sali</h2>
    <section>
        <mat-form-field class="nrSali" appearance="fill">
            <mat-label>Nr sali</mat-label>
            <input matInput formControlName="numerSali" placeholder="" value="" />
        </mat-form-field>
    </section>
    <h2>Data</h2>
    <section>
        <div id="data">
            <p>data</p>
            <mat-form-field class="dataField" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput formControlName="data" [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div id="odData">
            <p>Od</p>
            <mat-form-field class="comboboxLiczbaPojemnosc" appearance="fill">
                <mat-label>Godzina</mat-label>
                <mat-select formControlName="godzinaOd">
                    <mat-option *ngFor="let liczby of zbior" [value]="liczby.value">
                        {{ liczby.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div id="doData">
            <p>Do</p>
            <mat-form-field class="comboboxLiczbaPojemnosc" appearance="fill">
                <mat-label>Godzina</mat-label>
                <mat-select formControlName="godzinaDo">
                    <mat-option *ngFor="let liczby of zbior" [value]="liczby.value">
                        {{ liczby.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <section>
        <div id="checkBox">
            <h2>Wyposazenie</h2>
            <section class="checkBox">
                <mat-checkbox formControlName="rzutnik" class="checkBoxRzutnik">Rzutnik</mat-checkbox>
            </section>
            <section class="checkBox">
                <mat-checkbox formControlName="klimatyzacja" class="checkBoxKlimatyzacjian">Klimatyzacjia</mat-checkbox>
            </section>
            <section class="checkBox">
                <mat-checkbox formControlName="komputer" class="checkBoxKomputer">Komputer</mat-checkbox>
            </section>
            <section class="checkBox">
                <mat-checkbox formControlName="tablica" class="checkBoxTablica">Tablica</mat-checkbox>
            </section>
        </div>
        <div id="buttonWyszukaj">
            <button class="buttonWyszukaj" mat-raised-button (click)="wyszukajSale()">Wyszukaj</button>
        </div>
    </section>
</form>