<h2>wyniki wyszukiwania</h2>

<table mat-table [dataSource]="saleWyniki" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="wydzial">
        <th mat-header-cell *matHeaderCellDef>Wydział</th>
        <td mat-cell *matCellDef="let sala">{{ sala.wydzial }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numer_sali">
        <th mat-header-cell *matHeaderCellDef>Numer sali</th>
        <td mat-cell *matCellDef="let sala">{{ sala.numer }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="akcje">
        <th mat-header-cell *matHeaderCellDef>Akcje</th>
        <td mat-cell *matCellDef="let sala">
            <button mat-raised-button>Podgląd sali</button>
            <button mat-raised-button>Zarezerwuj</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>