<main>
    <h2>Wyniki wyszukiwania</h2>
    <div class="table-container">
        <table mat-table [dataSource]="saleWyniki" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="wydzial">
                <th class="expand" mat-header-cell *matHeaderCellDef>Wydział</th>
                <td mat-cell *matCellDef="let sala">{{ sala.wydzial }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="numer_sali">
                <th class="expand" mat-header-cell *matHeaderCellDef>Numer sali</th>
                <td mat-cell *matCellDef="let sala">{{ sala.numer }}</td>
            </ng-container>

            <ng-container matColumnDef="pojemnosc">
                <th class="expand" mat-header-cell *matHeaderCellDef>Pojemność</th>
                <td mat-cell *matCellDef="let sala">{{ sala.pojemnosc }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="akcje">
                <th mat-header-cell *matHeaderCellDef>Akcje</th>
                <td mat-cell *matCellDef="let sala">
                    <button class="cell-button" mat-raised-button (click)="podgladSali(sala)">Podgląd sali</button>
                    <button class="cell-button" mat-raised-button [disabled]="!activeButton"
                        (click)="zarezerwujSale(sala)">Zarezerwuj</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <h3 *ngIf="saleWyniki.length === 0 && isDirty === true">Brak wyników spełniających zapytanie</h3>
</main>